

<ion-header>
  <ion-toolbar>
    <ion-title>listar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

    

  <ion-content>
    <ion-list>
      <ion-item>Amsterdam</ion-item>
      <ion-item>Bogota</ion-item>
      <ion-item>Buenos Aires</ion-item>
      <ion-item>Cairo</ion-item>
     </ion-list> 

    <ion-list>
     <ion-item *ngFor="let s of scheduleList | async" >
      <!-- <ion-avatar slot="start"> -->
      <!-- <img src="./assets/profile-user.png"> -->
      <!-- </ion-avatar> -->
      <ion-label (click)="update(s)">
      <h2>{{ s.name }}</h2>
      <h3>{{ s.description }}</h3>
      <p>{{ s.date }}</p>
      <p>{{ s.place }}</p>
      </ion-label>
      <!-- <ion-button size="small" (click)="call(s.phone)">
      <ion-icon name="call-outline"></ion-icon>
      </ion-button> -->
      </ion-item>
    </ion-list>

  <ion-fab  vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="crear()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
</ion-content>




<script>
const searchbar = document.querySelector('ion-searchbar');
const items = Array.from(document.querySelector('ion-list').children);

searchbar.addEventListener('ionInput', handleInput);

function handleInput(event) {
  const query = event.target.value.toLowerCase();
  requestAnimationFrame(() => {
    items.forEach(item => {
      const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
      item.style.display = shouldShow ? 'block' : 'none';
    });
  });
}
</script>

  

